li {
  display: grid;
  align-items: center;
  text-align: center;
}

#a {
  grid-area: a;
  height: 75px;
}

#b {
  grid-area: b;
  height: 150px;
}

#c {
  grid-area: c;
  height: 125px;
}

#d {
  grid-area: d;
  height: 125px;
}

#e {
  grid-area: e;
  height: 250px;
}

#f {
  grid-area: f;
  height: 250px;
}

#g {
  grid-area: g;
  height: 250px;
}

#h {
  grid-area: h;
  height: 250px;
}

#i {
  grid-area: i;
  height: 80px;
}

ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'a a'
    'b b'
    'c c'
    'd d'
    'e f'
    'g h'
    'i i';
}

@media only screen and (min-width: 725px) and (max-width: 1079px){
  li {
    display: grid;
    align-items: center;
    text-align: center;
  }
  
  #a {
    grid-area: a;
    height: 150px;
  }
  
  #b {
    grid-area: b;
    height: 300px;
  }
  
  #c {
    grid-area: c;
    height: 300px;
  }
  
  #d {
    grid-area: d;
    height: 300px;
  }
  
  #e {
    grid-area: e;
    height: 200px;
  }
  
  #f {
    grid-area: f;
    height: 200px;
  }
  
  #g {
    grid-area: g;
    height: 200px;
  }
  
  #h {
    grid-area: h;
    height: 200px;
  }
  
  #i {
    grid-area: i;
    height: 145px;
  }
  
  ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
      'a a a a'
      'b b c d'
      'e f g h'
      'i i i i';
  }
}

@media only screen and (min-width: 1080px){
  
  li {
    display: grid;
    align-items: center;
    text-align: center;
  }
  
  #a {
    grid-area: a;
    height: 150px;
  }
  
  #b {
    grid-area: b;
    height: 645px;
  }
  
  #c {
    grid-area: c;
    height: 300px;
  }
  
  #d {
    grid-area: d;
    height: 300px;
  }
  
  #e {
    grid-area: e;
    height: 200px;
  }
  
  #f {
    grid-area: f;
    height: 200px;
  }
  
  #g {
    grid-area: g;
    height: 200px;
  }
  
  #h {
    grid-area: h;
    height: 200px;
  }
  
  #i {
    grid-area: i;
    height: 145px;
  }
  
  ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      'a a a a a'
      'b c c d d'
      'b e f g h'
      'b i i i i';
  }

}